.clients__list{
    @include list(null, wrap, 30px);
    }
    .clients__items{
        @include item(1, 2, 30px);
        
        height: 92px;
        @media screen and (min-width: 768.98px){
            @include item(2, 3, 30px);
        }
        @media screen and (min-width: 1200px){
            @include item(5, 6, 30px);
        }
    }
    .clients__link{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #AFB1B8;
        border-radius: 4px;
        fill: var(--ic-cl)
    }
    .clients__link:hover,
    .clients__link:focus{
        transition-duration: 250ms;
      transition-timing-function: var(--timing-funcion);
        fill: var(--accent-txt-cl);
        border-color: var(--accent-txt-cl);
    }
   
    .caption{
        margin-bottom: 4px;
    
        font-family: var(--main-font);
        font-weight: 700;
        font-size: 18px;
        line-height: calc(36 / 18);
        letter-spacing: 0.06em;
    
        color: var(--main-txt-cl);
    }
    .team__list{
        list-style: none;
        display: flex;
        gap: 30px;
        
    }  